.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-page {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.home-profile {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.home-image {
  top: 50%;
  left: 50%;
  width: 510px;
  height: 376px;
  z-index: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 3rem;
  object-fit: cover;
  margin-left: 10rem;
  margin-right: 15rem;
  margin-bottom: auto;
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1;
  flex-direction: row;
  justify-content: flex-start;
}
.home-container02 {
  flex: .55;
  width: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-end;
}
.home-image1 {
  width: var(--dl-size-size-xxlarge);
  align-self: center;
  object-fit: cover;
}
.home-container03 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-image2 {
  width: 100%;
  height: 100%;
  max-width: var(--dl-size-size-xlarge);
  max-height: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
.home-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-xxlarge);
  display: flex;
  max-width: var(--dl-size-size-xlarge);
  margin-top: var(--dl-space-space-unit);
  max-height: var(--dl-size-size-xxlarge);
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-end;
  background-color: #5C6B4F;
}
.home-text {
  color: #ffffff;
  font-size: small;
  font-family: Noto Sans;
}
.home-container05 {
  flex: .45;
  width: auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text05 {
  color: #605c24;
  font-size: 3rem;
  font-family: Merriweather;
}
.home-text09 {
  color: #605c24;
  margin-top: var(--dl-space-space-unit);
  font-family: Noto Sans;
}
.home-link {
  color: #605c24;
  font-size: 14px;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Noto Sans;
  text-decoration: none;
}
.home-link1 {
  color: #605c24;
  align-self: center;
  margin-top: 4rem;
  transition: 0.3s;
  text-decoration: underline;
}
.home-link1:hover {
  cursor: pointer;
}
.home-about {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-image3 {
  top: 231px;
  left: -162px;
  width: 510px;
  height: 376px;
  margin: auto;
  z-index: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 3rem;
  object-fit: cover;
  margin-left: 15rem;
}
.home-container06 {
  flex: .5;
  width: auto;
  display: flex;
  z-index: 1;
  align-items: flex-start;
  flex-direction: column;
}
.home-sobre-m {
  color: rgb(96, 92, 36);
  font-size: 2rem;
  font-family: Merriweather;
  padding-top: 5px;
  border-color: rgb(96, 92, 36);
  border-width: 2px;
  padding-bottom: 5px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-description {
  color: rgb(96, 92, 36);
  width: 100%;
  font-size: 14px;
  margin-top: 1rem;
  text-align: justify;
  font-family: Noto Sans;
  margin-bottom: 1rem;
}
.home-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-habilidades {
  color: rgb(96, 92, 36);
  font-size: 1.3rem;
  font-family: Merriweather;
  padding-top: 5px;
  border-color: rgb(96, 92, 36);
  border-width: 2px;
  padding-bottom: 5px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-text17 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: .5rem;
  margin-right: 1rem;
}
.home-text18 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: .5rem;
  margin-right: 1rem;
}
.home-text19 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: .5rem;
  margin-right: 1rem;
}
.home-text20 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: .5rem;
  margin-right: 1rem;
}
.home-text21 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: .5rem;
  margin-right: 1rem;
}
.home-text22 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: .5rem;
  margin-right: 1rem;
}
.home-text23 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: .5rem;
  margin-right: 1rem;
}
.home-text24 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: .5rem;
  margin-right: 1rem;
}
.home-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-habilidades1 {
  color: rgb(96, 92, 36);
  font-size: 1.3rem;
  font-family: Merriweather;
  padding-top: 5px;
  border-color: rgb(96, 92, 36);
  border-width: 2px;
  padding-bottom: 5px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-text25 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: .5rem;
  margin-right: 1rem;
}
.home-text26 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: .5rem;
  margin-right: 1rem;
}
.home-text29 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: .5rem;
  margin-right: 1rem;
}
.home-text30 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: .5rem;
  margin-right: 1rem;
}
.home-text31 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: .5rem;
  margin-right: 1rem;
}
.home-text32 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: .5rem;
  margin-right: 1rem;
}
.home-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-habilidades2 {
  color: rgb(96, 92, 36);
  font-size: 1.3rem;
  font-family: Merriweather;
  padding-top: 5px;
  border-color: rgb(96, 92, 36);
  border-width: 2px;
  padding-bottom: 5px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text33 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: .5rem;
  font-weight: bold;
  margin-right: 1rem;
}
.home-text36 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: .5rem;
  margin-right: 1rem;
}
.home-container14 {
  flex: .5;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1;
  align-items: flex-start;
  flex-direction: column;
}
.home-experiencia {
  color: rgb(96, 92, 36);
  font-size: 2rem;
  font-family: Merriweather;
  padding-top: 5px;
  border-color: rgb(96, 92, 36);
  border-width: 2px;
  padding-bottom: 5px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-ul {
  padding-left: 0px;
}
.home-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  margin-bottom: .5rem;
}
.home-text39 {
  color: rgb(96, 92, 36);
  display: inline;
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 700;
  margin-bottom: em;
}
.home-text42 {
  color: rgb(96, 92, 36);
  height: auto;
  font-size: 12px;
  margin-left: .5rem;
}
.home-text43 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  font-weight: bold;
}
.home-text44 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: .5rem;
  text-align: justify;
}
.home-container17 {
  top: 0;
  left: -3px;
  width: 5px;
  height: .5em;
  z-index: 1;
  position: absolute;
  background-color: #ffffff;
}
.home-container18 {
  top: .25em;
  left: -4.8px;
  width: 8px;
  height: 8px;
  z-index: 1;
  position: absolute;
  border-radius: var(--dl-radius-radius-round);
  background-color: rgb(96, 92, 36);
}
.home-container19 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  margin-bottom: .5rem;
}
.home-text45 {
  color: rgb(96, 92, 36);
  display: inline;
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 700;
  margin-bottom: em;
}
.home-text46 {
  color: rgb(96, 92, 36);
  height: auto;
  font-size: 12px;
  margin-left: .5rem;
}
.home-text47 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  font-weight: bold;
}
.home-text48 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: .5rem;
  text-align: justify;
}
.home-container20 {
  top: .25em;
  left: -4.8px;
  width: 8px;
  height: 8px;
  z-index: 1;
  position: absolute;
  border-radius: var(--dl-radius-radius-round);
  background-color: rgb(96, 92, 36);
}
.home-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  margin-bottom: .5rem;
}
.home-text49 {
  color: rgb(96, 92, 36);
  display: inline;
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 700;
  margin-bottom: em;
}
.home-text50 {
  color: rgb(96, 92, 36);
  height: auto;
  font-size: 12px;
  margin-left: .5rem;
}
.home-text51 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  font-weight: bold;
}
.home-text52 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: .5rem;
  text-align: justify;
}
.home-container22 {
  top: .25em;
  left: -4.8px;
  width: 8px;
  height: 8px;
  z-index: 1;
  position: absolute;
  border-radius: var(--dl-radius-radius-round);
  background-color: rgb(96, 92, 36);
}
.home-li3 {
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
}
.home-container23 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  margin-bottom: .5rem;
}
.home-text53 {
  color: rgb(96, 92, 36);
  display: inline;
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 700;
  margin-bottom: em;
}
.home-text54 {
  color: rgb(96, 92, 36);
  height: auto;
  display: inline;
  font-size: 12px;
  margin-left: .5rem;
}
.home-text55 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  font-weight: bold;
}
.home-text56 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: .5rem;
  text-align: justify;
}
.home-container24 {
  top: .25em;
  left: -3px;
  width: 8px;
  height: 8px;
  z-index: 1;
  position: absolute;
  border-radius: var(--dl-radius-radius-round);
  background-color: rgb(96, 92, 36);
}
.home-container25 {
  top: 0em;
  left: 0px;
  width: 2px;
  height: 5px;
  z-index: 1;
  position: absolute;
  background-color: rgb(96, 92, 36);
}
.home-portafolio {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.home-text57 {
  color: rgb(96, 92, 36);
  font-size: 3rem;
  margin-top: 3rem;
  text-align: center;
  font-family: Merriweather;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}
.home-loteria-ciclo-maya {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}
.home-presentation {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.home-container26 {
  flex: .5;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container27 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text58 {
  color: #605c24;
  font-weight: bold;
}
.home-text59 {
  color: rgb(96, 92, 36);
  font-size: 3rem;
  font-family: Merriweather;
}
.home-container28 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 1rem;
  align-items: flex-start;
  flex-direction: column;
}
.home-container29 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 1rem;
  align-items: flex-start;
}
.home-container30 {
  flex: .2;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text63 {
  color: rgb(96, 92, 36);
  font-weight: bold;
}
.home-container31 {
  flex: .7;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text64 {
  color: rgb(96, 92, 36);
  font-weight: bold;
}
.home-text65 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: var(--dl-space-space-halfunit);
  text-align: justify;
}
.home-container32 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 1rem;
  align-items: flex-start;
}
.home-container33 {
  flex: .2;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text66 {
  color: rgb(96, 92, 36);
  font-weight: bold;
}
.home-container34 {
  flex: .7;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text67 {
  color: rgb(96, 92, 36);
  font-weight: bold;
}
.home-text68 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: var(--dl-space-space-halfunit);
  text-align: justify;
}
.home-container35 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 1rem;
  align-items: flex-start;
}
.home-container36 {
  flex: .2;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text69 {
  color: rgb(96, 92, 36);
  font-weight: bold;
}
.home-container37 {
  flex: .7;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text70 {
  color: rgb(96, 92, 36);
  font-weight: bold;
}
.home-text71 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: var(--dl-space-space-halfunit);
  text-align: justify;
}
.home-container38 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 1rem;
  align-items: flex-start;
}
.home-container39 {
  flex: .2;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text72 {
  color: rgb(96, 92, 36);
  font-weight: bold;
}
.home-container40 {
  flex: .7;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text73 {
  color: rgb(96, 92, 36);
  font-weight: bold;
}
.home-text74 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: var(--dl-space-space-halfunit);
  text-align: justify;
}
.home-container41 {
  flex: .5;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container42 {
  flex: .4;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-pasted-image {
  width: 100%;
}
.home-pasted-image01 {
  width: 100%;
  margin-top: 1rem;
}
.home-pasted-image02 {
  width: 100%;
  margin-top: 1rem;
}
.home-container43 {
  flex: .6;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-pasted-image03 {
  width: 100%;
}
.home-pasted-image04 {
  width: 100%;
  margin-top: 1rem;
}
.home-elements {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-container44 {
  flex: .4;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.home-text75 {
  color: rgb(96, 92, 36);
  height: auto;
  font-size: 3rem;
  font-family: Merriweather;
  border-color: rgb(96, 92, 36);
  border-width: 2px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-text76 {
  color: rgb(96, 92, 36);
  height: auto;
  margin-top: 5px;
  font-weight: bold;
}
.home-container45 {
  flex: .5;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-pasted-image05 {
  width: 100%;
  max-width: 400px;
}
.home-container46 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container47 {
  flex: .5;
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.home-container48 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text77 {
  color: rgb(96, 92, 36);
  font-weight: bold;
}
.home-text78 {
  color: rgb(96, 92, 36);
  font-size: 3rem;
  font-family: Merriweather;
}
.home-container49 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 1rem;
  align-items: flex-start;
  flex-direction: column;
}
.home-container50 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 1rem;
  align-items: flex-start;
}
.home-container51 {
  flex: .2;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text83 {
  color: rgb(96, 92, 36);
  font-weight: bold;
}
.home-container52 {
  flex: .7;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text84 {
  color: rgb(96, 92, 36);
  font-weight: bold;
}
.home-text85 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: var(--dl-space-space-halfunit);
  text-align: justify;
}
.home-container53 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 1rem;
  align-items: flex-start;
}
.home-container54 {
  flex: .2;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text86 {
  color: rgb(96, 92, 36);
  font-weight: bold;
}
.home-container55 {
  flex: .7;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text87 {
  color: rgb(96, 92, 36);
  font-weight: bold;
}
.home-text88 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: var(--dl-space-space-halfunit);
  text-align: justify;
}
.home-container56 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 1rem;
  align-items: flex-start;
}
.home-container57 {
  flex: .2;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text89 {
  color: rgb(96, 92, 36);
  font-weight: bold;
}
.home-container58 {
  flex: .7;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text90 {
  color: rgb(96, 92, 36);
  font-weight: bold;
}
.home-text91 {
  color: rgb(96, 92, 36);
  font-size: 14px;
  margin-top: var(--dl-space-space-halfunit);
  text-align: justify;
}
.home-container59 {
  flex: .5;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container60 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-pasted-image06 {
  width: 100%;
  display: none;
  max-width: 300px;
}
.home-pasted-image07 {
  width: 100%;
  display: none;
  max-width: 300px;
  margin-top: 10px;
}
.home-pasted-image08 {
  width: 100%;
  display: none;
  max-width: 300px;
  margin-top: 10px;
}
.home-pasted-image09 {
  width: 100%;
  max-width: 450px;
}
@media(max-width: 991px) {
  .home-page {
    position: relative;
  }
  .home-container02 {
    flex: .6;
  }
  .home-image1 {
    width: 230px;
  }
  .home-image2 {
    max-width: 130px;
    max-height: 180px;
  }
  .home-container04 {
    max-width: 130px;
    max-height: 180px;
  }
  .home-container05 {
    flex: .4;
  }
  .home-li {
    position: relative;
  }
  .home-li1 {
    position: relative;
  }
  .home-li2 {
    position: relative;
  }
  .home-li3 {
    position: relative;
  }
}
@media(max-width: 767px) {
  .home-container01 {
    flex-direction: column-reverse;
  }
  .home-container02 {
    flex: 1;
    width: 100%;
    justify-content: center;
  }
  .home-container05 {
    flex: 1;
    align-items: center;
    margin-bottom: 1rem;
  }
  .home-text05 {
    text-align: center;
  }
  .home-about {
    align-items: center;
    flex-direction: column;
  }
  .home-container06 {
    padding-bottom: 0;
  }
  .home-container07 {
    max-width: 600px;
  }
  .home-container14 {
    padding-top: 0;
  }
  .home-container15 {
    max-width: 600px;
    padding-top: 0;
  }
  .home-text57 {
    text-align: center;
  }
  .home-loteria-ciclo-maya {
    flex-direction: column;
  }
  .home-presentation {
    flex-direction: column;
  }
  .home-container26 {
    flex: 1;
    width: 100%;
  }
  .home-container41 {
    flex: 1;
    width: 100%;
  }
  .home-container42 {
    flex: .5;
  }
  .home-container43 {
    flex: .5;
  }
  .home-elements {
    flex-direction: column;
  }
  .home-container44 {
    align-items: center;
  }
  .home-text75 {
    text-align: center;
  }
  .home-text76 {
    text-align: center;
  }
  .home-container46 {
    flex-direction: column;
  }
  .home-container47 {
    flex: 1;
    width: 100%;
  }
  .home-container59 {
    flex: 1;
    width: 100%;
  }
  .home-container60 {
    flex: 1;
    align-items: center;
  }
}
@media(max-width: 479px) {
  .home-container01 {
    flex-direction: column-reverse;
  }
  .home-container02 {
    flex: 1;
    width: 100%;
    justify-content: center;
  }
  .home-image1 {
    width: var(--dl-size-size-xlarge);
  }
  .home-image2 {
    max-width: var(--dl-size-size-large);
    max-height: var(--dl-size-size-xlarge);
  }
  .home-container04 {
    max-width: var(--dl-size-size-large);
    max-height: var(--dl-size-size-xlarge);
  }
  .home-container05 {
    flex: 1;
    align-items: center;
    margin-bottom: 1rem;
  }
}
